RESEND_API_KEY=
NEXT_PUBLIC_UMBRA_NETWORK=mainnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://solana-rpc.publicnode.com
NEXT_PUBLIC_SOLANA_WS_URL=wss://solana-rpc.publicnode.com
NEXT_PUBLIC_SNITCH_TREASURY_WALLET=
NEXT_PUBLIC_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
NEXT_PUBLIC_USDT_MINT=
NEXT_PUBLIC_USDG_MINT=
NEXT_PUBLIC_PALM_USD_MINT=
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDlR0FsebkaCHLyBbhthrZCFEIn1lUPFbA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=snitch-f54ea.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=snitch-f54ea
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=snitch-f54ea.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=473867035166
NEXT_PUBLIC_FIREBASE_APP_ID=1:473867035166:web:7be058f4dcbeac816f840f
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KWGNXLWYWN
NEXT_PUBLIC_SNITCH_VAULT_PROGRAM_ID=72rGhJDuuNk9ggmmRRpY3gvTSyBngWu9jCAdnpHh9fv9
